@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
*{
  background:#ecf0f1;
}
#root{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    height: 100vh;
}
.manu_main{
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.manu_main h2{
  font-family: 'Gajraj One', cursive;
  cursor: pointer;
}
.manu_main a{
  text-decoration: none;
  color: black;
  margin-left: 10px;
  padding: 8px 12px;
}
.manu_main a:hover{
  color:blue;
}
.active{
  border-bottom: 2px solid orange;
}
.buttom{
  background-color:rgb(54, 54, 223);
  text-align:center;
  line-height:2rem;
  margin-top:auto !important;
  color:#fff;
  padding: 16px 0;
}
.navs span{
  width: 40px;
  height: 4px;
  background-color: black;
  margin-top: 5px;
}
.navs{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.navShow{
  overflow: scroll;
  padding: 20px 0;
}
@media only screen and (min-width:550px){
  .navs{
    display: none;
  }
}
@media only screen and (max-width:550px){
.navHide{
  display: none;
}
.nav{
  display: block;
}
}